<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Suite">
	<test name="Alerts Test">
		<classes>
			<class name="AlertsTesting.AlertAcceptOrCancel" />
			<class name="widgets.AutoComplete" />
			<class name="widgets.Dates" />
			<class name="Clicks.ClickButtons" />
			<class name="Frames.IFrames" />
			<class name="Frames.NestedFrames" />
		</classes>
	</test>
</suite>
